@import '../../styles/common';
@use "scss:map";

.button {
  min-height: 36px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  color: map-get($colors, text);

  background-color: map-get($colors, surface0);

  &:hover {
    background-color: map-get($colors, surface1);
  }
  &:active {
    background-color: map-get($colors, surface2);
  }
}


