@import "../../styles/common";
@use "scss:map";

.button {
  min-height: 36px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  color: map-get($colors, text);

  background-color: map-get($colors, surface0);
  transition: all 0.2s ease-out;

  &:hover {
    background-color: map-get($colors, surface1);
  }
  &:active {
    background-color: map-get($colors, surface2);
  }

  &_selected {
    text-shadow: 0 0 3px #B7BDF8;
    box-shadow: 0 0 5px #B7BDF8;
  }
}
