@import "../../styles/common";
@use "scss:map";

.cell {
  border-radius: 5px;
  font-size: 10px;
  border: 1px solid map-get($colors, surface0);
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;

  &:hover {
    border: 1px solid map-get($colors, peach);
  }
  &:active {
    border: 1px solid map-get($colors, peach);
    background-color: map-get($colors, sky);
  }

  // color by type
  &_normal {
    background-color: map-get($colors, normal);
  }
  &_visited {
    background-color: map-get($colors, visited);
  }
  &_wall {
    background-color: map-get($colors, wall);
  }
  &_source {
    background-color: map-get($colors, source);
  }
  &_target {
    background-color: map-get($colors, target);
  }
}
