@use "sass:map";
@import "../../styles/common";

.main {
  background-color: map-get($colors, crust);
  border-radius: 5px;
  width: 90%;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin)
}

.appName {
  font-size: inherit;
  margin: 0;
  text-shadow: 0 0 3px map-get($colors, lavender);
}

.buttons {
  min-width: 50%;
  display: flex;
  justify-content: space-evenly;
}
